:root {
    --color-background: var(--base00);
    --color-background-off: var(--base01);
    --text-strong: var(--base0E);
    --text-bold: var(--base0C);
    --text-headings: var(--base09);
    --text-faint: var(--base05);
    --text-off: var(--base06);
    --text: var(--base07);
    --color-border: var(--base0F);
    --color-link-alt: var(--base0B);
}
