:root {
    --gap-menu-items: 1.25rem;
    --radius: 0.5rem;
}

/* body container */
#flex-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-bottom: 0px;
    margin-top: 0px;
}

/* make the footer be always at the bottom regardless of how much space the page's content actually takes */
main { 
    flex-grow: 1; 
}

#flex-container > footer {
    padding: 1rem; position: relative; 
}

/* menu layout */
#menu {
    display: flex;
    list-style: none;
}

#menu li + li {
    margin-inline-start: var(--gap-menu-items);
}

/* get some extra top space on the landing page */
main.home { 
    margin-top: 3rem;
}

/* headings */
h1.post-title {
    margin-bottom: 0;
}

h1 {
    margin-top: 3rem;
}

h2, h3, h4, h5, h6 {
    margin-top: 1.8rem;
}

/* metadata */
div.meta {
    margin-top: 1rem;   
}

/* some extra space for main content */
div.content {
    margin: 3rem 0rem;
}

div.home-section {
    margin: 4rem 0rem;
}

/* movies and books list */
div.grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}
div.bookgrid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}
div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
div.container p {
    margin: 0;
}
figure.book {
    max-inline-size: unset;
    margin: 0;
}
figure.book > a {
    border-bottom: none;
}
figure.book figcaption {
    font-size: 0.8rem;
}
/* fix with high specificity... but you had to style pseudo elements, right? */
figure.book a[href^="http"]:not([href*="quiroptero.blog"])::after {
    content: none;
}
figure.movie {
    max-inline-size: unset;
    margin: 0;
}
figure.movie figcaption {
    font-size: 0.7rem;
}

blockquote {
    margin: 2rem 3rem;
}

blockquote p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/* display list of links nicely */
/* flex based */
div.row-label-link {
    display: flex;
    align-items: flex-start;
}

div.label-fixed-date {
    width: 13ch; /* YYYY mmm DD: */
    flex-shrink: 0;
}

div.label-fixed-day {
    width: 7ch; /* mmm DD */
    flex-shrink: 0;
    font-size: 0.9rem
}

div.link-wrap {
    flex: 1;
}

div.group-by-month {
    line-height: 1.4rem;
}

/* add an horizontal scrollbar when content of pre is bigger that its container */
pre {
    overflow: auto;
}
