/* file structure based on https://github.com/joeroe/risotto/ */

@import "colours";
@import "typography";
@import "layout";
@import "progress";

@import "components/box";
@import "components/header-footer";
@import "components/debug";
@import "components/nextprev";
@import "components/toc";
@import "components/ul";
@import "components/static";
@import "components/figure";
@import "components/library";
@import "components/scrollbar";
@import "components/search";
@import "components/input";
@import "components/feed";
@import "components/broken";

html {
    overflow-y: scroll;
    font-size: 16px;
}

body {
    background-color: var(--color-background);
    color: var(--text);
    max-width: 54rem;
    margin: 20px auto 0px;
    padding: 0 10px;
}
