/* fonts */

/*  https://commitmono.com/
    
    Commit Mono supports:
    weight: from 200 to 700 in steps of 25 units
        use font-weight
    width: from -10% to +10% in steps of 1%
        use font-stretch
    italics: 0 (off) or 1 (on)
        use font-style
*/
@font-face {
    font-family: "MainMono";
    src: url("/fonts/commitmono.woff2") format("woff2-variations");
    font-style: normal;
    font-optical-sizing: auto; /* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_fonts/Variable_fonts_guide#optical_size */
    font-display: swap;
    font-weight: 200 700;
    font-stretch: 90% 110%;
}
@font-face {
    font-family: "MainMono";
    src: url("/fonts/commitmono-it.woff2") format("woff2-variations");
    font-style: italic;
    font-synthesis: none; /* see: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_fonts/Variable_fonts_guide#italic */
    font-display: swap;
    font-weight: 200 700;
    font-stretch: 90% 110%;
}

/* /fonts */

:root {
    --font-monospace: "MainMono", monospace, monospace;
    --font-headings: "MainMono", monospace, monospace; /* these are the same for now */
}

body {
    font-family: var(--font-monospace);
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.6rem;
}

/* LINKS (ANCHOR TAGS) */
/* replace automatic decoration in anchor tags with custom border */
a {
    text-decoration: none;
    color: var(--text-link, var(--base0A));
    border-bottom: var(--border-link, 0.125rem) solid var(--text-link, var(--base0A));
}
/* nice arrow for external links 
    hardcoding domain, I don't like it, but vars can't be used
    there might be a way to do this without relying on javascript
*/
a[href^="http"]:not([href*="quiroptero.blog"])::after {
    content: "↗";
}
.group-by-month a:visited,
.post-list a:visited {
    color: var(--base0C);
    border-bottom: 0.125rem solid var(--base0C);
}
/* /LINKS */

/* BOLD TEXT */
strong {
    color: var(--text-strong);
}

b {
    color: var(--text-bold);
}
/* /BOLD */

/* METADATA */
div.meta { 
    font-size: 0.9rem; 
    color: var(--text-off);
    margin: 1.5rem 0rem;
}

div.meta a {
    --text-link: var(--color-link-alt);
    --border-link: 0.09rem;
}

div.meta p {
    margin: 0;
}
/* /METADATA */

/* build stats */

div.build-meta {
    color: var(--color-link-alt);
    text-align: center;
    font-size: 0.8rem;
    background: var(--color-background-off);
}

/* prevent super from affecting line height */
sup { 
    line-height: 0; 
}

/* headings */
h1.post-title {
    font-size: 2rem;
    line-height: 2.5rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-headings);
    color: var(--text-headings);
    font-size: 1.5rem;
    font-weight: 700;
}

h1.content::before { content: '# '; }
h2.content::before { content: '## '; }
h3.content::before { content: '### '; }
h4.content::before { content: '#### '; }
h5.content::before { content: '##### '; }
h6.content::before { content: '###### '; }

/* inline code block */
code {
    color: var(--color-link-alt);
    background: var(--color-background-off);
}

/* multiline code block */
pre {
    background: var(--color-background-off);
}

/* separators */
hr {
  margin: 25px 30% 25px;
  border-color: var(--text);
  border-width: 1px;
}

/* display anchor # on hover */
h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
    display: inline-flex;
    border-bottom: 0rem;
}

/* footnotes */
div.footnotes {
    font-size: 0.8rem;
    color: var(--text-faint);
}

/* stats */
pre.stats {
    font-size: 0.8rem;
    line-height: 0.8rem;
    text-align: center;
}

/* latest post */
p.latest-meta {
    font-size: 1.2rem;
}
p.latest-post {
    font-size: 2rem;
    line-height: 2.8rem;
}
