/*
ul {
    -webkit-padding-start: 0;
    list-style-position: inside;
}

div > ul { 
    padding-left: 0rem;
}
main > ul {
    padding-left: 0rem;
}
ul > li > ul {
    padding-left: 2rem;
}
*/

ul {
    padding-left: 0;
    list-style: none;
}

ul li {
    position: relative;
    padding-left: 1.5em;
}

ul li::before {
    content: "•";
    position: absolute;
    left: 0;
}
