.webring {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.webring * {
    color: var(--color-link-alt) !important;
}

.webring p {
    margin: 0;
}

.webring a:hover {
    background-color: var(--color-link-alt) !important;
    color: var(--color-background) !important;
}

.webring a::after {
    content: none !important;
}
