{{ define "main" }}
<main>
    <div style="background-color: black;">
        <h1 style="color: var(--base00); margin: 0;">base00</h1>
        <h1 style="color: var(--base01); margin: 0;">base01</h1>
        <h1 style="color: var(--base02); margin: 0;">base02</h1>
        <h1 style="color: var(--base03); margin: 0;">base03</h1>
        <h1 style="color: var(--base04); margin: 0;">base04</h1>
        <h1 style="color: var(--base05); margin: 0;">base05</h1>
        <h1 style="color: var(--base06); margin: 0;">base06</h1>
        <h1 style="color: var(--base07); margin: 0;">base07</h1>
        <h1 style="color: var(--base08); margin: 0;">base08</h1>
        <h1 style="color: var(--base09); margin: 0;">base09</h1>
        <h1 style="color: var(--base0A); margin: 0;">base0A</h1>
        <h1 style="color: var(--base0B); margin: 0;">base0B</h1>
        <h1 style="color: var(--base0C); margin: 0;">base0C</h1>
        <h1 style="color: var(--base0D); margin: 0;">base0D</h1>
        <h1 style="color: var(--base0E); margin: 0;">base0E</h1>
        <h1 style="color: var(--base0F); margin: 0;">base0F</h1>
    </div>
</main>
{{ end }}
