{{ $calls := slice }}
{{ with templates.Current }}
  {{ range .Ancestors }}
    {{ $calls = append (slice .Name) $calls }}
    {{ with .Base }}
      {{ $calls = append (slice .Name) $calls }}
    {{ end }}
  {{ end }}
{{ end }}

<p><strong>CSS</strong>: {{ .Store.Get "palette" }}</p>
<p><strong>Kind</strong>: {{ page.Kind }}</p>
<p><strong>Page path</strong>: {{ page.Path }}</p>
{{ with page.Parent }}
<p><strong>Parent page path</strong>: {{ .Path }}</p>
{{ end }}
<p><strong>Calls</strong>: {{ delimit $calls " -> "}}</p>
<p><strong>Words</strong>: {{ page.WordCount }}</p>
<p><strong>Reading time</strong>: {{ page.ReadingTime }}</p>
{{ with page.AlternativeOutputFormats }}
    <p><strong>Alternative Output Formats</strong></p>
    {{ range . }}
        <p>
            - Name: {{ .Name }}
            <pre>  MediaType: {{ .MediaType }}</pre>
            <pre>  Rel: {{ .Rel }}</pre>
            <pre>  Permalink: {{ .Permalink }}</pre>
        </p>
    {{ end }}
{{ end }}
