<footer>
    <div>
	<span>&copy; 2017-{{ now.Year }} <a href="https://osvaldomiranda.me">Osvaldo Miranda</a></span>
    <span>·</span>
    <span><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a></span>
    </div>
    <div>
    <span><a href="/suscribirse">Suscríbete al blog</a></span>
    <span>·</span>
    <span><a href="/privacidad">Privacidad</a></span>
    <span>·</span>
    <span><a href="mailto:{{ site.Params.author.email }}">Contacto</a></span>
    </div>
    <div class="webring-container"><script defer="" src="https://blogblog.es/webring.js"></script></div>
</footer>
