<footer>
    <div>
	<span>&copy; 2017-{{ now.Year }} <a href="/">{{ .Site.Title }}</a></span>
    <span>·</span>
    <span><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a></span>
    <span>·</span>
    <span><a href="/privacidad">Privacidad</a></span>
    <span>·</span>
    <span><a href="mailto:{{ site.Params.author.email }}">Contacto</a></span>
    </div>
    <div>
    <span><a href="https://paliacate.blog">paliacate</a></span>
    <span>·</span>
    <span><a href="https://monocromo.blog">monocromo</a></span>
    </div>
    <div>
    <p style="font-size: 0.7rem;">
    Al propietario de este sitio web lo impulsan la cafeína
    y la determinación de aprender a hacer las cosas por su cuenta.
    </p>
    </div>
</footer>
