{{ define "main" }}
<main>

    <h1>{{ .Title }}</h1>

    {{ with .Content }}
    <div class="content">{{ . }}</div>
    {{ end }}

    {{ $featured := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
    {{ $featured := $featured | intersect (where .Site.RegularPages "Params.featured" true )}}
    {{ range $featured}}
    <div class="row-label-link">
        <div class="label-fixed-day">{{ .Date.Format "02" }}&nbsp;</div>
        <div class="link-wrap"><a href="{{ .RelPermalink }}">{{ partial "draft_notice.html" . }}</a></div>
    </div>
    {{ end }}
</main>
{{ end }}
