{{ define "main" }}
<main>
    {{ $series_slug := "a" }}
    {{ $series_title := "b" }}
    {{ if .Params.series }}
        {{ $series_slug = .Params.series }}
        {{ $series_title = (site.GetPage (printf "/series/%s" $series_slug)).Title }}
    {{ end }}

    <h1 class="post-title">{{ partial "draft_notice" . }}</h1>
    <div class="meta">
        <p><time datetime="{{ .Date.Format "2006-01-02T15:04:05" }}">{{ .Date | time.Format ":date_full" }}</time></p>
        <p>
        <span>
        {{ with .Params.categorías }}
            {{ range . }}<a href="{{ "/categorías/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
        {{ end }}
        </span>
        ·
        etiquetas: 
        <span>
        {{ with .Params.etiquetas }}
		    {{ range . }} #<a href="{{ "/etiquetas/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
		{{ end }}
        </span>
        </p>
        {{ if .Params.series }}
            <span>Parte de la serie </span>
            <a href="{{ "/series/" | relLangURL }}{{ $series_slug | urlize }}">
                {{ $series_title }}
            </a>
        {{ end }}
    </div>

    {{/* display a warning when the post is still in draft form */}}
    {{ if strings.Contains .Page.Path "_drafts" }}
    <div class="box box--notice">
        <p style="font-size: 1.3rem;">{{ T "draft_beware" }}</p>
        <p>{{ T "draft_date" (dict "date" .Date) }}</p>
    </div>
    {{ end }}

    {{ if .Params.rl }}
    <div class="box box--warning">
        <p>
            Esta entrada es una <a href="/rl">reseña literaria</a>,
            por lo que puede contener <a href="/2018/09/destripar">destripes</a>.
        </p>
        {{ with .Params.library_id }}
            {{/* read the library data file */}}
            {{ $library_page := site.GetPage (printf "library") }}
            {{ $opts := dict "targetType" "map" }}
            {{ $library := transform.Unmarshal $opts ($library_page.Resources.Get $library_page.Params.data_file) }}
            {{ $books := where $library "Binding" "!=" "E-Book" }}
            {{ $positions := dict }}
            {{ range $i, $rec := sort $books "ID" }}
                {{ $positions = merge $positions (dict $rec.ID (add $i 1)) }}
            {{ end }}
            {{ $position := index $positions ( . | string) }}
            <p>
                Este libro forma parte de mi <a href="/biblioteca/">/biblioteca</a>
                y es el libro número <a href="/biblioteca/libro/{{ $position }}">{{ $position }}</a>.
            </p>
        {{ end }}
    </div>
    {{ end }}

    {{ if .Params.toc }}
    <div class="box box--toc">
        <details{{ if eq .Params.toc "open" }} open=""{{ end }}>
            <summary>Tabla de contenidos</summary>
            {{ .TableOfContents }}
        </details>
    </div>
    {{ end }}

    <div class="content">
    {{ .Content | partial "anchors.html" }}
    </div>

    {{ if .Params.series }}
    <div class="box box--series">
        <p>De la serie <strong>{{ $series_title }}</strong></p>
        {{ $series := where site.RegularPages "Params.series" "=" $series_slug }}
        {{ range $series }}
            <div class="row-label-link">
                {{ partial "label-fixed-date.html" (dict "context" . "date" .Date )}}
		        <div class="link-wrap"><a href="{{ .RelPermalink }}">{{.Title}}</a></div>
            </div>
	    {{ end }}
    </div>
    {{ end }}

    {{/* related content */}}
    {{ $related := .Site.RegularPages.Related . | first 5 }}
    {{ with $related }}
    <div class="box box--related post-list">
        <p><strong>{{ T "related-content" }}</strong></p>
        {{ range . }}
            <div class="row-label-link">
                {{ partial "label-fixed-date.html" (dict "context" . "date" .Date )}}
		        <div class="link-wrap"><a href="{{ .RelPermalink }}">{{.Title}}</a></div>
            </div>
        {{ end }}
    </div>
    {{ end }}

    {{/* previous and next pages */}}
    {{- $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
    {{- if and (gt (len $pages) 1) (in $pages . ) }}
    <nav class="nextprev">
        <div>{{- with $pages.Prev . }}<a href="{{ .RelPermalink }}">« {{ .Name }}</a>{{- end }}</div>
        <div>{{- with $pages.Next . }}<a href="{{ .RelPermalink }}">{{ .Name }} »</a>{{- end }}</div>
    </nav>
    {{- end }}
</main>
{{ end }}
