{{ define "main" }}
    <main>
        <h1>{{ .Title }}</h1>
        <div>
        {{ .Content | partial "anchors.html" }}
        </div>

        <hr>

        {{ range (where .Site.RegularPages "Type" "in" .Site.Params.mainSections).GroupByDate "2006" }}
            {{ $year := .Key }}
            <div>
            <h1>{{ $year }}</h1>
            {{ range .Pages.GroupByDate "January" }}
                <div class="group-by-month">
                {{ range .Pages }}
                    <div class="row-label-link">
                        <div class="label-fixed-day">{{ .Date.Format "01-02" }}&nbsp;</div>
                        <div class="link-wrap"><a href="{{ .RelPermalink }}">{{ partial "draft_notice.html" . }}</a></div>
                    </div>
                {{ end }}
                </div>
            {{ end }}
            </div>
        {{ end }}
    </main>
{{ end }}
