<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <!-- GNU Terry Pratchett -->
    <meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ with .Title }}{{ . }} &ndash; {{end}}{{ .Site.Title }}</title>
    {{ with .Page.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
    {{ with .Page.Params.keywords }}<meta name="keywords" content="{{ . }}">{{ end }}
    {{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}

    {{ partial "theme" . }}

    {{ with .OutputFormats.Get "RSS" -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
    {{- end }}

    {{ if (eq .Layout `search`) }}
    <link crossorigin="anonymous" rel="preload" as="fetch" href="../index.json">
    {{- $fastsearch := resources.Get "js/fastsearch.js" | js.Build (dict "params" (dict "fuseOpts" site.Params.fuseOpts)) | resources.Minify }}
    {{- $fusejs := resources.Get "js/fuse.basic.min.js" }}
    {{- $license_js := resources.Get "js/license.js" }}
    {{- $search := (slice $fusejs $license_js $fastsearch ) | resources.Concat "assets/js/search.js" | fingerprint }}
    <script defer crossorigin="anonymous" src="{{ $search.RelPermalink }}" integrity="{{ $search.Data.Integrity }}"></script>
    {{ end }}

    {{ if (eq .Layout `library`) }}
    {{ $script := "js/tellico2html.js" | resources.Get | resources.Fingerprint }}
    <script src="{{ $script.RelPermalink }}" integrity="{{ $script.Data.Integrity }}"></script>
    <script type="text/javascript">
        var COL_SORT_ARRAY = new Array()
        COL_SORT_ARRAY[0] = 0
        COL_SORT_ARRAY[1] = 0
        COL_SORT_ARRAY[2] = 0
        COL_SORT_ARRAY[3] = 0
    </script>
    {{ end }}

</head>
<body id="flex-container">
    {{ partial "header" . }}
    {{ block "main" . }}{{ end }}
    {{ partial "footer" . }}
</body>
</html>
