{{ define "main" }}
    <main>
        <h1>{{ .Title }}</h1>
        <div>
            <span>Esta es una página de ahora desactualizada. La versión actual está acá:
            <a href="{{ "/ahora/" | relLangURL }}">/ahora</a>.
            </span>
        </div>
        
        <hr>
        <div class="content">
        {{ .Content | partial "anchors.html" }}
        </div>

        {{- $pages := where site.RegularPages "Layout" "eq" "now" }}
        {{- if and (gt (len $pages) 1) (in $pages . ) }}
        <nav class="nextprev">
            <div>{{- with $pages.Prev . }}<a href="{{ .Permalink }}">« {{ .Name }}</a>{{- end }}</div>
            <div>{{- with $pages.Next . }}<a href="{{ .Permalink }}">{{ .Name }} »</a>{{- end }}</div>
        </nav>
        {{- end }}
        
    </main>
{{ end }}
