{{ define "main" }}
<main>
    <h1>{{ .Title }}</h1>
    {{ .Content | partial "anchors.html" }}

    {{ $pages := where .Site.AllPages "Type" "!=" "blog" }}

    <h1 class="content">Páginas destacadas</h1>
    {{ $featured := $pages | intersect (where .Site.AllPages.ByTitle "Params.featured" true )}}
    <ul>
        {{ range $featured }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
    </ul>

    <h1 class="content">Todas las páginas</h1>
    {{ $static := $pages | intersect (where .Site.AllPages.ByTitle ".Type" "eq" "static") }}
    <ul>
        {{ range $static }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a>: {{ .Description }}</li>
        {{ end }}
    </ul>

</main>
{{ end }}
