{{ define "main" }}
<main>
    <h1>{{ .Title }}</h1>
    <div class="content">
    {{ .Content | partial "anchors.html" }}
    </div>

    {{ $pages := where .Site.AllPages "Type" "!=" "blog" }}
    {{ $static := $pages | intersect (where .Site.AllPages.ByTitle "Params.static" true ) }}
    {{ range $static }}
        <a href="{{ .RelPermalink }}">
        <div class="static-page-card">
            <div class="static-page-title">{{ .Title }}</div>
            <div class="static-page-descr">{{ .Description }}</div>
        </div>
        </a>
    {{ end }}
</main>
{{ end }}
