{{ define "main" }}
<main>

    <h1>{{ .Title }}</h1>

    <div class="content">
    {{ .Content | partial "anchors.html" }}
    </div>

    {{ $pages := where .Site.AllPages "Type" "=" "blog" }}
    {{ $rl := $pages | intersect (where .Site.RegularPages.ByDate.Reverse "Params.rl" true )}}
    <div class="post-list">
    {{ range $rl }}
    <div class="row-label-link">
        {{ partial "label-fixed-date.html" (dict "context" . "date" .Date )}}
        <div class="link-wrap"><a href="{{ .RelPermalink }}">{{ .Title }}</a></div>
    </div>
    {{ end }}
    </div>
</main>
{{ end }}
