{{ define "main" }}
<main>

    <h1>{{ .Title }}</h1>

    <div class="content">
    {{ .Content | partial "anchors.html" }}
    </div>

    {{ $pages := where .Site.AllPages "Type" "=" "blog" }}
    {{ $rl := $pages | intersect (where .Site.RegularPages.ByDate.Reverse "Params.rl" true )}}
    {{ range $rl }}
    <div class="row-label-link">
        <div class="label-fixed-date">{{ dateFormat "2006-01-02" .Date }}:</div>
        <div class="link-wrap"><a href="{{ .RelPermalink }}">{{ .Title }}</a></div>
    </div>
    {{ end }}
</main>
{{ end }}
