{{ $posts := where site.RegularPages "Type" "blog" }}
{{ $scratch := newScratch }}
{{ $grouped := $posts.GroupByDate "2006" }}

<div style="width: 100%;height: 300px;margin: 30px auto">
    <canvas id="yearchart">
        <p>Gráfica de línea que muestra el número de publicaciones por año</p>
    </canvas>
</div>

<table class="post-stats-tbl">
    <tr>
        <th width="8%">Año</td>
        <th width="10%">Entradas</td>
        <th width="10%">Palabras</td>
        <th width="15%">Promedio de palabras</td>
        <th>Entrada más larga</td>
    </tr>
    {{ range $grouped.Reverse }}
        {{ $yearPostCount := len (where .Pages "Type" "blog") }}

        {{ $scratch.Set "wordcount" 0 }}
        {{ $scratch.Set "longcount" 0 }}
        {{ range .Pages }}
            {{ $scratch.Add "wordcount" .WordCount }}
            {{ if ge .WordCount ($scratch.Get "longcount") }}
                {{ $scratch.Set "longestpost" . }}
                {{ $scratch.Set "longcount" .WordCount }}
            {{ end }}
        {{ end }}

        {{ $yearWordAvg := div ($scratch.Get "wordcount") $yearPostCount }}
        <tr>
            <td>{{ .Key }}</td>
            <td>{{ $yearPostCount | lang.NumFmt 0 }}</td>
            <td>{{ $scratch.Get "wordcount" | lang.NumFmt 0 }}</td>
            <td>{{ $yearWordAvg | lang.NumFmt 0 }}</td>
            <td>
                {{ with $scratch.Get "longestpost" }}
                    <a href="{{ .Permalink }}">{{ .Title }}</a>, con {{ .WordCount | lang.NumFmt 0 }} palabras
                {{ end }}
            </td>
        </tr>
        {{ $scratch.Add "yearKeys" (slice .Key) }}
        {{ $scratch.Add "yearCount" (slice $yearPostCount) }}
        {{ $scratch.Add "yearAvg" (slice $yearWordAvg) }}
    {{ end }}
</table>

{{ $script := "js/chart.js" | resources.Get | resources.Fingerprint }}
<script src="{{ $script.RelPermalink }}" integrity="{{ $script.Data.Integrity }}"></script>
<script type="text/javascript">
    var ctx = document.getElementById('yearchart').getContext('2d');

    let yearKeys = [{{ range $scratch.Get "yearKeys" }}{{ . }}, {{end}}];
    let yearCount = [{{ range $scratch.Get "yearCount" }}{{ . }}, {{end}}];
    let yearAvg = [{{ range $scratch.Get "yearAvg" }}{{ . }}, {{end}}];

    const lightBar = 'rgba(37,19,81)'
    const lightLine = 'rgba(243,182,31)'
    const lightLegend = 'rgba(31,39,27)'

    var options = {
        plugins: {legend: {position: 'top'}},
        type: 'bar',
        data: {
            labels: yearKeys,
            datasets: [
                {
                    label: 'Entradas publicadas',
                    yAxisID: 'A',
                    data: yearCount,
                    borderWidth: 3,
                    order: 1
                },
                {
                    label: 'Promedio de palabras',
                    yAxisID: 'B',
                    data: yearAvg,
                    borderWidth: 3,
                    type: 'line',
                    order: 0
                }
            ]
        },
        options: {
            maintainAspectRatio: false,
            animation: false,
            scales: {
                A: {
                    beginAtZero: true,
                    title: {display: true, text: 'Entradas publicadas'},
                    position: 'left',
                    grid: {display: false},
                    ticks: {stepSize: 5},
                    scaleLabel: {
                        display: true,
                        labelString: 'my label'
                    }
                },
                B: {
                    beginAtZero: true,
                    title: {display: true, text: 'Promedio de palabras'},
                    position: 'right',
                    grid: {display: false},
                    ticks: {stepSize: 200}
                },
                x: {grid: {display: false}}
            }
        }
    };

    const statsChart = new Chart(ctx, options)

    statsChart.data.datasets[0].backgroundColor = lightBar
    statsChart.data.datasets[0].borderColor = lightBar
    statsChart.data.datasets[1].backgroundColor = lightLine
    statsChart.data.datasets[1].borderColor = lightLine
    statsChart.options.scales['A'].ticks.color = lightLegend
    statsChart.options.scales['A'].title.color = lightLegend
    statsChart.options.scales['B'].ticks.color = lightLegend
    statsChart.options.scales['B'].title.color = lightLegend
    statsChart.options.scales['x'].ticks.color = lightLegend
    statsChart.options.plugins.legend.labels.color = lightLegend
   
    statsChart.update();
</script>
