{{ $posts := where site.RegularPages "Type" "in" site.Params.mainSections }}
{{ $grouped := $posts.GroupByDate "01" }}
{{ $s := newScratch }}
{{ $s.Set "01" 0 }}
{{ $s.Set "02" 0 }}
{{ $s.Set "03" 0 }}
{{ $s.Set "04" 0 }}
{{ $s.Set "05" 0 }}
{{ $s.Set "06" 0 }}
{{ $s.Set "07" 0 }}
{{ $s.Set "08" 0 }}
{{ $s.Set "09" 0 }}
{{ $s.Set "10" 0 }}
{{ $s.Set "11" 0 }}
{{ $s.Set "12" 0 }}
{{ range $grouped }}{{ $s.Add .Key ( len .Pages ) }}{{ end }}
{{ $t := newScratch }}
{{ range $grouped}}
    {{ $t.Set .Key (add (strings.Repeat (sub 5 ($s.Get .Key | string | len) ) " ") ($s.Get .Key | string)) }}
{{ end }}

<div class="ascii">

<pre style="margin-bottom: 0rem;">   ene  feb  mar  abr  may  jun  jul  ago  sep  oct  nov  dic </pre>
<pre style="margin-top: 0rem;">   ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  --- </pre>
<pre>#  {{ $t.Get "01" }}{{ $t.Get "02" }}{{ $t.Get "03" }}{{ $t.Get "04" }}{{ $t.Get "05" }}{{ $t.Get "06" }}{{ $t.Get "07" }}{{ $t.Get "08" }}{{ $t.Get "09" }}{{ $t.Get "10" }}{{ $t.Get "11" }}{{ $t.Get "12" }}</pre>
<pre>%  000% 000% 000% 000% 000% 000% 000% 000% 000% 000% 000% 000%</pre>

</div>
<hr>
