/* theme taken from https://tinted-theming.github.io/tinted-gallery/ */
{{- $palette := .Store.Get "palette" -}}
{{- $spec := index site.Params.palettes.spec $palette }}

{{ printf "/* palette: %s */" $palette | safeHTML }}
{{ printf "/* author: %s */" $spec.author | safeHTML }}
:root {
  --base00: #{{ $spec.colors.base00 }};
  --base01: #{{ $spec.colors.base01 }};
  --base02: #{{ $spec.colors.base02 }};
  --base03: #{{ $spec.colors.base03 }};
  --base04: #{{ $spec.colors.base04 }};
  --base05: #{{ $spec.colors.base05 }};
  --base06: #{{ $spec.colors.base06 }};
  --base07: #{{ $spec.colors.base07 }};
  --base08: #{{ $spec.colors.base08 }};
  --base09: #{{ $spec.colors.base09 }};
  --base0A: #{{ $spec.colors.base0A }};
  --base0B: #{{ $spec.colors.base0B }};
  --base0C: #{{ $spec.colors.base0C }};
  --base0D: #{{ $spec.colors.base0D }};
  --base0E: #{{ $spec.colors.base0E }};
  --base0F: #{{ $spec.colors.base0F }};
}
