{{ define "main" }}
<main>
    <h1>{{ .Title }}</h1>

    {{ partial "last_mode_by_file.html" . }}

    <div class="content">
    {{ .Content | partial "anchors.html" }}
    </div>

    <!-- read the movies data file -->
    {{ $data := .Resources.Get "data.yaml" | transform.Unmarshal }}

    <!-- set some variables to help compute metrics -->
    {{ $total_movies := (len $data) }}
    {{ $movies := dict }}
    {{ $movies_slice := slice }}
    <!-- visualization kind -->
    {{ $kinds := dict }}

    <!-- compute metrics -->
    {{ range $i, $x := $data }}
        <!-- general count of kinds and movies -->
        {{ range split .kind " " }}
            {{ $kinds = merge $kinds (dict . (add (index $kinds . | default 0) 1) )}}
            {{ $movies = merge $movies (dict $x.title (add (index $movies $x.title | default 0) 1) )}}
        {{ end }}
    {{ end }}
    <!-- repeated movies -->
    {{ range $key, $value := $movies }}
        {{ if gt $value 1 }}
            {{ $movies_slice = append (slice $key) $movies_slice}}
        {{ end }}
    {{ end }}

    <!-- paragraph with details of how many movies were watched -->
    <div class="content">
    <p>
        Este año he visto <strong>{{ $total_movies }}</strong> películas y series distintas
        <!-- kind of hardcoding the reference here in order to make the meme an element of the page bundle -->
        {{ $meme_url := ((.Resources.Get "meme.webp").Process "q50").RelPermalink }}
        (<strong>{{ len $movies_slice }}</strong> de ellas <a href="{{ $meme_url }}">en más de una ocasión</a>):
    </p>
    <ul>
        <li>🍿 <strong>{{ index $kinds "1" }}</strong> en el cine</li>
        <li>🏠 <strong>{{ index $kinds "2" }}</strong> en el <a href="/2025/02/cinecasa">cinecasa</a></li>
        <li>📺 <strong>{{ index $kinds "3" }}</strong> en otro tipo de pantallas</li>
    </ul>
    </div>

    <!-- grid with movie posters and the corresponding emoji -->
    <div class="grid">
    {{ range sort $data "weight" "desc" }}
        <div class="container">
            <figure class="movie" >
            {{ $s := .kind }}
            {{ $s := replace $s "1" "🍿" }}
            {{ $s := replace $s "2" "🏠" }}
            {{ $s := replace $s "3" "📺" }}
            <p>{{ $s }}</p>
            <img
                alt="Póster de la película {{ .title }}{{ with .original_title }} ({{ . }}){{ end }}" 
                {{ with $.Resources.GetMatch (printf "img/%s*" .id) }}
                src="{{ (.Process "webp").RelPermalink }}"
                {{ end }}
            >
            <figcaption>
                <p><strong>{{ .title }}</strong></p>
                {{ with .original_title }}<p>(<i>{{ . }}</i>)</p>{{ end }}
            </figcaption>
            </figure>
        </div>
    {{ end }}
    </div>
</main>
{{ end }}
