{{- $u := urls.Parse (.Get "src") -}}
{{- .Page.Store.Set "src" $u.String -}}
{{- if not $u.IsAbs -}}
  {{- with or (.Page.Resources.Get $u.Path) (resources.Get $u.Path) -}}
    {{- $.Page.Store.Set "src" .RelPermalink -}}
  {{- end -}}
{{- end -}}

{{- if .Get "resize" -}}
    {{- $pic := .Page.Resources.Get $u -}}
    {{- $image := $pic.Resize (printf "%s q100 lanczos" (.Get "resize")) -}}
    {{ .Page.Store.Set "src" $image.RelPermalink }}
{{- end -}}

{{- if .Get "fit" -}}
    {{- $pic := .Page.Resources.Get $u -}}
    {{- $image := $pic.Fit (printf "%s q100 lanczos" (.Get "fit")) -}}
    {{ .Page.Store.Set "src" $image.RelPermalink }}
{{- end -}}

<figure{{ with .Get "class" }} class="{{ . }}"{{ end }}>
  <img src="{{ .Page.Store.Get "src" }}"
    {{- if or (.Get "alt") (.Get "caption") }}
    alt="{{ with .Get "alt" }}{{ . }}{{ else }}{{ .Get "caption" | markdownify| plainify }}{{ end }}"
    {{- end -}}
    {{- with .Get "loading" }} loading="{{ . }}"{{ end -}}
  ><!-- Closing img tag -->
  {{- if .Get "link" }}</a>{{ end -}}
  {{- if or (or (.Get "title") (.Get "caption")) (.Get "attr") -}}
    <figcaption>
      {{ with (.Get "title") -}}
        <h4>{{ . }}</h4>
      {{- end -}}
      {{- if or (.Get "caption") (.Get "attr") -}}<p>
        {{- .Get "caption" | markdownify -}}
        {{- with .Get "attrlink" }}
          <a href="{{ . }}">
        {{- end -}}
        {{- .Get "attr" | markdownify -}}
        {{- if .Get "attrlink" }}</a>{{ end }}</p>
      {{- end }}
    </figcaption>
  {{- end }}
</figure>
