<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <!-- GNU Terry Pratchett -->
    <meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ with .Title }}{{ . }} &ndash; {{end}}{{ .Site.Title }}</title>
    {{ with .Page.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
    {{ with .Page.Params.keywords }}<meta name="keywords" content="{{ delimit . ", " }}">{{ end }}
    {{ with .Site.Params.author.name }}<meta name="author" content="{{ . }}">{{ end }}

    <!-- theme -->
    {{ if (eq .Site.Params.theme.palette "random") }}
        {{ range (readDir "themes/ratpenat/static/css/palettes" | shuffle | first 1) }}
            <link rel="stylesheet" href="{{ printf "css/palettes/%s" .Name | absURL }}">
            <!-- set the random palette name for later use in debug mode -->
            {{ $.Store.Set "random_palette" .Name }}
            <!-- -->
        {{ end }}
    {{ else }}
        <link rel="stylesheet" href="{{ printf "css/palettes/%s.css" (.Site.Params.theme.palette | default "darktooth") | absURL }}">
    {{ end }}
    <link rel="stylesheet" href="{{ "css/ratpenat.css" | absURL }}">
    <!-- /theme -->

    {{ with .OutputFormats.Get "RSS" -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
    {{- end }}

    {{ if (eq .Layout `search`) }}
    <link crossorigin="anonymous" rel="preload" as="fetch" href="../index.json">
    {{- $fastsearch := resources.Get "js/fastsearch.js" | js.Build (dict "params" (dict "fuseOpts" site.Params.fuseOpts)) | resources.Minify }}
    {{- $fusejs := resources.Get "js/fuse.basic.min.js" }}
    {{- $license_js := resources.Get "js/license.js" }}
    {{- $search := (slice $fusejs $license_js $fastsearch ) | resources.Concat "assets/js/search.js" | fingerprint }}
    <script defer crossorigin="anonymous" src="{{ $search.RelPermalink }}" integrity="{{ $search.Data.Integrity }}"></script>
    {{ end }}

    <!-- enable sorting library table -->
    {{ if (eq .Section `biblioteca`) }}
    {{ $script := "js/tellico2html.js" | resources.Get | resources.Fingerprint }}
    <script src="{{ $script.RelPermalink }}" integrity="{{ $script.Data.Integrity }}"></script>
    <script type="text/javascript">
        var COL_SORT_ARRAY = new Array()
        COL_SORT_ARRAY[0] = 0
        COL_SORT_ARRAY[1] = 0
        COL_SORT_ARRAY[2] = 0
        COL_SORT_ARRAY[3] = 0
    </script>
    {{ end }}

</head>
<body id="flex-container">
    <!-- display debug information -->
    {{ if site.Params.debug }}
        <div class="debug">
            {{ partial "debug-info.html" . }}
        </div>
    {{ end }}
    <!-- /debug -->

    {{ partial "header" . }}
    {{ block "main" . }}{{ end }}
    {{ partial "footer" . }}
</body>
</html>
