{{ define "main" }}
<main class="home">
    {{ with .Content }}<div style="text-align: center;">{{ . | safeHTML }}</div>{{ end }}

    {{ range first 1 (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
    <div class="box box--latest">
        <p class="latest-meta">
        Última entrada el <strong>{{ .Date | time.Format ":date_full"}}</strong>
        </p>
        <p class="latest-post">
        <a href="{{ .RelPermalink }}">{{ partial "draft_notice.html" . }}</a>
        </p>
    </div>
    {{ end }}
    <div class="home-section">
    <p>Las <strong>entradas</strong> son el principal tipo de contenido del blog.</p>
    <h1>Más recientes</h1>
    <div class="post-list">
    {{ range first 5 (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) | after 1 }}
        <div class="row-label-link">
            <div class="label-fixed-date">{{ .Date | time.Format "2006-01-02" }}:&nbsp;</div>
            <div class="link-wrap"><a href="{{ .RelPermalink }}">{{ partial "draft_notice.html" . }}</a></div>
        </div>
    {{ end }}
    </div>

    <p>→ Ver <a href="{{ "/blog" | relLangURL }}">todas las entradas</a></p>

    <h2>Destacadas</h2>
    {{ $featured := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
    {{ $featured := $featured | intersect (where .Site.RegularPages "Params.featured" true )}}
    <div class="post-list">
    <ul>
    {{ range first 5 $featured}}
        <div class="row-label-link">
            <div class="label-fixed-date">{{ .Date | time.Format "2006-01-02" }}:&nbsp;</div>
            <div class="link-wrap"><a href="{{ .RelPermalink }}">{{ partial "draft_notice.html" . }}</a></div>
        </div>
    {{ end }}
    </ul>
    </div>
    <p>→ Ver todas las <a href="{{ "/destacadas/" | relLangURL }}">entradas destacadas</a></p>
    </div>

    <div class="home-section">
    <p>Las <strong>páginas</strong> son un tipo diferente de contenido. No cambian a menudo y no están en orden cronológico.</p>
    {{ $pages := where .Site.AllPages "Type" "!=" "blog" }}
    {{ $featured := $pages | intersect (where .Site.AllPages "Params.featured" true )}}
    <div class="grid-link-label">
        {{ range $featured }}
        <div class="link-cell"><a href="{{ .RelPermalink }}">{{ .Title }}</a></div>
        <div class="label-cell">{{ .Description }}</div>
        {{ end }}
    </div>
    <p>→ Ver <a href="{{ "/páginas" | relLangURL }}">todas las páginas</a></p>
    </div>

    <div id="random-quote-container" class="box box--quote">
        <span id="random-quote"></span>
    </div>
</main>
{{ end }}
