{{ define "main" }}
<main>
    <div>
        {{ $txt := "con" }}
        {{ $type := .Data.Singular }}
        {{ if eq $type "serie" }}
            {{ $txt = "que forman parte de" }}
        {{ end }}
        <h1>Entradas {{ $txt }} la {{ .Data.Singular }} «{{ if eq $type "serie" }}{{ .Title }}{{ else }}{{ .Data.Term }}{{ end }}»</h1>
    </div>
    
    {{ with .Content }}
    <div>
        {{ . | partial "anchors.html" }}
        {{ if eq $type "categoría" }}
        <p>→ Ver todas las <a href="/categorías">/categorías</a></p>
        {{ end }}
    </div>
    <hr >
    {{ end }}

    <div class="post-list">
    {{ range .Pages }}
    <div class="row-label-link">
        <div class="label-fixed-date">{{ dateFormat "2006-01-02" .Date }}</div>
    	<div class="link-wrap"><a href="{{ .RelPermalink }}">{{.Title}}</a></div>
    </div>
    {{ end }}
    </div>
</main>
{{ end }}
