{{ define "main" }}
{{/* NOTE: This layout is pretty similar to the section one */}}
{{/* Is there a way to make it DRY? */}}
<main>
    <h1>Lecturas en {{ .Title }}</h1>

    {{ partial "last_mod_by_file.html" . }}

    <div class="box box--notice">
        <p>Este es el registro de mis lecturas durante <strong>{{ .Title }}</strong>.</p>
        <p>El registro actual se encuentra acá: <a href="/lecturas">/lecturas</a>.</p>
    </div>

    <div class="content">
    {{ .Content | partial "anchors.html" }}
    </div>

    {{/* read the data file */}}
    {{ $data := .Resources.Get "data.yaml" | transform.Unmarshal }}

    {{/* compute details of books */}}
    {{ $categories := dict }}
    {{ range $data }}
        {{ $categories = merge $categories (dict .kind (add (index $categories .kind | default 0) 1) )}}
    {{ end }}

    {{/* paragraph with details of how many books were read */}}
    <div class="content">
    <p>
        En {{ .Title }} leí <strong>{{ len $data }}</strong>
        {{ if gt (where $data "review" "ne" nil | len ) 0 }}
        libros y publiqué <strong>{{ where $data "review" "ne" nil | len }}</strong> <a href="/rl">reseñas</a>:
        {{ else }}
        libros:
        {{ end }}
    </p>
    {{/* showcase categories */}}
    {{ $cat_info := dict
        "A" (dict "icon" "📕" "label" "novelas")
        "B" (dict "icon" "📘" "label" "colecciones de cuentos o de poesía")
        "C" (dict "icon" "🖼️" "label" "novelas gráficas, cómics o libros de arte")
        "D" (dict "icon" "📸" "label" "libros de fotografía")
        "E" (dict "icon" "📰" "label" "ensayos, libros de historia u otras de no ficción")
    }}
    <ul>
    {{ range $key, $info := $cat_info }}
        {{ $count := index $categories $key }}
        {{ if gt $count 0 }}
            <li>{{ $info.icon }} <strong>{{ $count }}</strong> {{ $info.label }}</li>
        {{ end }}
    {{ end }}
    </ul>
    <p>
        Nota: este emoji 📚 indica que el libro forma parte de mi <a href="/biblioteca">/biblioteca</a>.</p>
    <p>
    </div>

    {{/* read the library data file */}}
    {{ $library_page := site.GetPage (printf "library") }}
    {{ $opts := dict "targetType" "map" }}
    {{ $library := transform.Unmarshal $opts ($library_page.Resources.Get $library_page.Params.data_file) }}
    {{ $books := where $library "Binding" "!=" "E-Book" }}
    {{ $positions := dict }}
    {{ range $i, $rec := sort $books "ID" }}
        {{ $positions = merge $positions (dict $rec.ID (add $i 1)) }}
    {{ end }}

    <div class="bookgrid">
    {{ range sort $data "weight" "desc" }}
        <div class="container">
            {{/* determine the kind of book */}}
            {{/* remember: we use := to initialize a variable and = to assign it a value afterwards */}}
            {{ $icons := dict "A" "📕" "B" "📘" "C" "🖼️" "D" "📸" "E" "📰" }}
            {{ $k := index $icons .kind | default "" }}

            {{/* determine the list of authors and their roles (writing, illustration) */}}
            {{ $authors := slice }}
            {{ $authorsAlt := slice }}
            {{ range .author }}
                {{ $s := .role }}
                {{ $s := replace $s "E" "✍️" }}
                {{ $s := replace $s "I" "🎨" }}
                {{ $s := replace $s "F" "📸" }}
                {{ $authors = append (delimit (slice $s .name) " " ) $authors }}
                {{ $authorsAlt = append (slice .name ) $authorsAlt }}
            {{ end }}

            {{/* book cover */}}
            {{/* generic placeholder picture */}}
            {{ $cover_img := resources.Get "images/no-book-cover.jpg" }}
            {{ $position := "" }}
            {{ if .library_id }}
                {{/* the book is in the library and the cover might be available */}}
                {{ $book := index (where $books "ID" "==" (.library_id | string)) 0 }}
                {{ if $book.Front_Cover }}
                    {{ $cover_img = $library_page.Resources.GetMatch (printf "img/%s*" $book.Front_Cover) }}
                {{ end }}
                {{/* determine the place of the book (as in a shelf) */}}
                {{ $position = index $positions (.library_id | string) }}
            {{/* a cover picture has been provided using the ISBN */}}
            {{ else if .isbn }}
                {{ $cover_img = $.Resources.GetMatch (printf "img/%s*" .isbn)}}
            {{ end }}

            <figure class="book">
                <div style="display: flex; justify-content: space-between;">
                <p>{{ $k }}</p>
                {{ if .library_id }}
                    <a href="/biblioteca/libro/{{ $position }}" style="border-bottom: none;"><p>📚</p></a>
                {{ end }}
                </div>
                {{/* if available, the picture is a link to the review */}}
                {{/* notice that conditionals are used to open/close link tags */}}
                {{ if .review }}<a href="{{ .review }}">{{ end }}
                {{/* resize to an arbitrary size */}}
                <img 
                    alt="Portada del libro {{ .title }}. {{ if gt (len .author) 1 }}Autores: {{ else }}Autor: {{ end }} {{ delimit $authorsAlt ", " " y " }}."
                    src="{{ ($cover_img.Fill "342x513 web Top").RelPermalink }}"
                    loading="lazy"
                >
                {{ if .review }}</a>{{ end }}
                {{/* https://covers.openlibrary.org/b/isbn/9780385533225-S.jpg */}}
                <figcaption>
                    {{/* if available, the title is a link to the review */}}
                    <p><strong>{{ if .review }}<a href="{{ .review }}">{{ end }}{{ .title }}{{ if .review }}</a>{{ end }}</strong></p>
                    <p>{{ delimit $authors "; " " y "}}</p>
                </figcaption>
            </figure>
        </div>
    {{ end }}
    </div>
    
    {{/* links to next/prev pages */}}
    {{- $pages := where site.RegularPages "Section" "eq" "readings" }}
    {{- if and (gt (len $pages) 1) (in $pages . ) }}
    <nav class="nextprev">
        <div>{{- with $pages.Prev . }}<a href="{{ .RelPermalink }}">« Lecturas en {{ .Name }}</a>{{- end }}</div>
        <div>{{- with $pages.Next . }}<a href="{{ .RelPermalink }}">Lecturas en {{ .Name }} »</a>{{- end }}</div>
    </nav>
    {{- end }}
</main>
{{ end }}
