{{ define "main" }}
<main>
    <h1>{{ .Title }}</h1>

    {{ partial "last_mod_by_file.html" . }}

    <div class="content">
    {{ .Content | partial "anchors.html" }}
    </div>

    <!-- read the games data file -->
    {{ $data := .Resources.Get "data.yaml" | transform.Unmarshal }}
    {{ $data = shuffle $data }}

    <!-- grid with game posters -->
    <div class="grid">
    {{ range $data }}
        <div class="container">
            <figure class="movie" >
            <img
                alt="Póster del videojuego {{ .title }}" 
                {{ with $.Resources.GetMatch (printf "img/%s*" .id) }}
                src="{{ (.Resize "500x q80 webp Lanczos").RelPermalink }}"
                {{ end }}
            >
            <figcaption>
                <p><strong>{{ .title }}</strong></p>
            </figcaption>
            </figure>
        </div>
    {{ end }}
    </div>
</main>
{{ end }}
