{{ define "main" }}
<main>
    <h1>{{ .Title }}</h1>
    <!-- Keeping this metadata section here because the lastmod is being read from the biblioteca.csv file -->
    <!-- There might be a way to use {{ partial "static_meta" . }} instead, -->
    <!-- but I don't feel like figuring out how to pass the lastmod parameter -->
    <div class="meta">
        <span>
            Actualizado por última vez el
            <b><time datetime="{{ (os.Stat "content/biblioteca/biblioteca.csv").ModTime.Format "2006-01-02T15:04:05" }}">
               {{ (os.Stat "content/biblioteca/biblioteca.csv").ModTime | time.Format ":date_full" }}
            </time></b>
        </span>
    </div>

    <div class="content">{{ .Content | partial "anchors.html" }}</div>

    <!-- read the library data -->
    {{ $data := .Resources.Get "biblioteca.csv" | transform.Unmarshal }}

    <!-- set some variables to help compute metrics -->
    {{ $s := newScratch }}
    {{ $s.Set "ebook" 0 }}
    {{ $s.Set "hard" 0 }}
    {{ $s.Set "softplus" 0 }}
    {{ $s.Set "soft" 0 }}
    {{ $s.Set "read" 0 }}
    {{ $total_books := (sub (len $data) 1) }}
    {{ $authors := slice }}
    {{ $authors_mentions := newScratch }}
    {{ $books := slice }}
    {{ $languages := slice }}
    {{ $languages_mentions := newScratch }}
    {{ $languages_slice := slice }}

    <!-- compute metrics -->
    <!-- reading data after 1 to ignore headers -->
    {{ range $i, $x :=  after 1 $data }}
        {{ range $j, $y := $x }}
            <!-- checking authors -->
            {{ if eq $j 2 }}
                {{ range split $y "; " }}
                    {{ if not ($authors_mentions.Get . ) }}
                        {{ $authors_mentions.Set $y 1 }}
                    {{ else }}
                        {{ $authors_mentions.Add $y 1}}
                    {{ end }}
                    {{ $authors = append (slice . ) $authors }}
                {{ end }}
            {{ end }}
            <!-- checking books -->
            {{ if eq $j 0 }}
                {{ $books = append (slice . ) $books }}
            {{ end }}
            <!-- checking book covers -->
            {{ if eq $j 3 }}
                {{ if eq $y "Hardback" }}
                    {{ $s.Add "hard" 1 }}
                {{ else if eq $y "Paperback" }}
                    {{ $s.Add "soft" 1 }}
                {{ else if eq $y "Trade Paperback" }}
                    {{ $s.Add "softplus" 1 }}
                {{ else }}
                    {{ $s.Add "ebook" 1 }}
                {{ end }}
            {{ end }}
            <!-- checking languages -->
            {{ if eq $j 4 }}
                {{ range split $y "; " }}
                    {{ if not ($languages_mentions.Get . )}}
                        {{ $languages_mentions.Set . 1 }}
                    {{ else }}
                        {{ $languages_mentions.Add . 1 }}
                    {{ end }}
                    {{ $languages = append (slice . ) $languages }}
                {{ end }}
            {{ end }}
            <!-- how many books (of my library) have I read? -->
            {{ if eq $j 5}}
                {{ if eq $y "true" }}
                    {{ $s.Add "read" 1 }}
                {{ end }}
            {{ end }}
        {{ end }}
    {{ end }}

    <!-- covers -->
    {{ $s.Set "book" (add ($s.Get "hard") ($s.Get "soft") ($s.Get "softplus"))}}
    <!-- most mentioned author -->
    {{ $most_mentioned := "" }}
    {{ range first 1 $authors }}
        {{ $most_mentioned = . }}
    {{ end }}
    {{ range $authors }}
        {{ if gt ($authors_mentions.Get . ) ($authors_mentions.Get $most_mentioned ) }}
            {{ $most_mentioned = . }}
        {{ end }}
    {{ end }}
    <!-- distinct authors, languages and books -->
    {{ $distinct_authors := uniq $authors | len }}
    {{ $distinct_books := uniq $books | len }}
    {{ $languages := uniq $languages }}

    <!-- sort languages by mentions -->
    {{ range $languages }}
        {{ $languages_slice = append (slice (dict "language" . "value" ($languages_mentions.Get . | int ))) $languages_slice }}
    {{ end }}

    <!-- compute percentages -->
    {{ $s.Set "bookP" (div (float ($s.Get "book")) ($total_books) | math.Product 100 | math.Round) }}
    {{ $s.Set "ebookP" (div (float ($s.Get "ebook")) ($total_books) | math.Product 100 | math.Round) }}
    {{ $s.Set "hardP" (div (float ($s.Get "hard")) ($s.Get "book") | math.Product 100 | math.Round) }}
    {{ $s.Set "softP" (div (float ($s.Get "soft")) ($s.Get "book") | math.Product 100 | math.Round) }}
    {{ $s.Set "softplusP" (div (float ($s.Get "softplus")) ($s.Get "book") | math.Product 100 | math.Round) }}

    <!-- paragraph to showcase the different metrics -->
    <div class="content">
        <h1>Estadísticas de mi biblioteca</h1>
        <p>
            Tengo <strong>{{ $total_books }}</strong> libros en mi biblioteca ({{ $distinct_books }} no repetidos):
        </p>
        <ul>
            <li><strong>{{ $s.Get "book" }}</strong> ({{ $s.Get "bookP" }}%) son libros físicos
            <ul>
                <li><strong>{{ $s.Get "hard" }}</strong> ({{ $s.Get "hardP" }}%) en cartoné</li>
                <li><strong>{{ $s.Get "softplus" }}</strong> ({{ $s.Get "softplusP" }}%) en rústica+</li>
                <li><strong>{{ $s.Get "soft" }}</strong> ({{ $s.Get "softP" }}%) en rústica</li>
            </ul>
            <li><strong>{{ $s.Get "ebook" }}</strong> ({{ $s.Get "ebookP" }}%) son libros electrónicos</li>
        </ul>
        <p>
            Hay representados <strong>{{ $distinct_authors }}</strong> autores distintos.
            El autor del que tengo más libros es <strong>{{ $most_mentioned }}</strong>, con {{ $authors_mentions.Get $most_mentioned }} libros.
        </p>
        <p>
            De los libros de mi biblioteca he leído <strong>{{ $s.Get "read" }}</strong> ({{ div (float ($s.Get "read")) (float $total_books) | math.Product 100 | math.Round }}%).
        </p>
        <p>
            Tengo libros en <strong>{{ len $languages }}</strong> idiomas diferentes:
        </p>
        <ul>
        {{ range sort $languages_slice "value" "desc" }}
            <li>{{ .language }}: <strong>{{ .value }}</strong> ({{ div (float .value) $total_books | math.Product 100 | math.Round }}%)</li>
        {{ end }}
        </ul>
    </div>

    <hr/>

    <!-- parse csv to build a table -->
    <table class="sortable">
        {{ with $data }}
            <!-- headers of the table -->
            <thead>
                <tr>
                    <!-- process only the first row to get the headers -->
                    {{ range index . 0}}
                    {{ if not (eq . "Title") }}
                        {{ if eq . "Subtitle" }}
                            <th width="40%">Título</th>
                        {{ else if eq . "Author" }}
                            <th width="30%">Autor(es)</th>
                        {{ else if eq . "Binding" }}
                            <th>Encuadernación</th>
                        {{ else if eq . "Language" }}
                            <th>I</th>
                        {{ else if eq . "Read" }}
                            <th>L</th>
                        {{ end }}
                    {{ end }}
                    {{ end }}
                </tr>
            </thead>
            <!-- body of the table -->
            <tbody>
                <!-- ignore the first row -->
                {{ range $i, $x := after 1 . | sort }}
                <!-- alternate between classes r1 and r0 for styling purposes -->
                <tr{{ if eq (mod $i 2) 0 }} class="r1"{{ else }} class="r0"{{ end }}>
                    {{ range $j, $y := $x }}
                        <!-- get the title, it will be used next to concatenate it with the subtitle -->
                        {{ if eq $j 0 }}
                            {{ $s.Set "title" $y }}
                        <!-- concatenate title and subtitle (if exists)-->
                        {{ else if eq $j 1 }}
                            <td class="field">{{ $s.Get "title" }}{{ if not (eq $y "")}} — {{ $y }}{{ end }}</td>
                        <!-- process book covers -->
                        {{ else if eq $j 3 }}
                            {{ if eq $y "Hardback" }}
                            <td class="field">Cartoné</td>
                            {{ else if eq $y "Trade Paperback" }}
                            <td class="field">Rústica+</td>
                            {{ else if eq $y "Paperback" }}
                            <td class="field">Rústica</td>
                            {{ else }}
                            <td class="field">Libro electrónico</td>
                            {{ end }}
                        {{ else }}
                            <td class="field">{{ if eq . "true" }}✅{{ else }}{{ . }}{{ end }}</td>
                        {{ end }}
                    {{ end }}
                </tr>
                {{ end }}
            </tbody>
        {{ end }}
    </table>
</main>
{{ end }}
