{{ define "main" }}
<main>
    <h1>{{ .Title }}</h1>

    <!-- Keeping this one here to make use of the location parameter -->
    <!-- As with the library template, I could make use of the partial static_meta, -->
    <!-- but I need to figure out how to pass the parameter and I don't feel like doing that now -->
    <div class="meta">
        <span>
            Actualizado por última vez el
            <b><time datetime="{{ .Lastmod.Format "2006-01-02T15:04:05" }}">
               {{ .Lastmod | time.Format ":date_full" }}
            </time></b>
            en {{ .Params.location }}
        </span>
    </div>

    <div class="notice">
        <span>
            Esta «página del ahora» es un vistazo de aquello en lo que estoy enfocado en este momento de mi vida.
            La actualizo constantemente y sin regularidad.
            El <a href="#historial">historial</a>
            se encuentra al final de la página.
            La idea de las
            <a href="https://nownownow.com/about">páginas de ahora</a>
            es de <a href="https://sive.rs/">Derek Sivers.</a>
        </span>
    </div>
    
    <div class="content">
    {{ .Content | partial "anchors.html" }}
    </div>

    <hr>

    <!-- now pages archive -->
    <div>
    <h1 id="historial">Historial</h1>
    {{ $pages := where .Site.RegularPages "Layout" "eq" "now" }}
    {{ $pages := $pages.ByDate.Reverse }}
    <ul>
        {{ range first 3 $pages }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
    </ul>
    <p>→ Ver <a href="{{ "/ahora/historial" | relLangURL }}">todo el historial</a></p>
    </div>
</main>
{{ end }}
